*.*~
*.keystore
bin
gen
local.properties
*.iml
*.ipr
*.iws
*.swp
.rvmrc
.idea
*.DS_Store
nbproject
mmssms.db
com.ekumar.cydamseru_preferences.xml
app_parts
target
out
build.xml
proguard.cfg
proguard-project.txt
